<%- include('../partials/footer') %>

<table id="list">
    <h1><%= title %></h1>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight<br>Number</th>
        <th>Departure<br>Time</th>
      </tr>
    </thead>

    <tbody>
      <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>