<%- include('../partials/header') %>

<table id="list">
    <tbody>
        <tr><th>Airline:</th><td><%= flight.airline %></td></tr>
        <tr><th>Flight Number:</th><td><%= flight.flightNo %></td></tr>
        <tr><th>Departure:</th><td><%= flight.departs %></td></tr>
        <tr><th>Airport</th><td><%= flight.airport %></td></tr>
    </tbody>
</table>

<%- include('../partials/footer') %>